// ChatFormComponent.vue

<template>
    <div>
        Form
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>