// MessageComponent.vue

<template>
    <div class="chat__message">
       Message
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>